set_io clk P7
set_io resetn P8
set_io io_leds[0] J11
set_io io_leds[1] K11
set_io io_leds[2] K12
set_io io_leds[3] K14
set_io io_leds[4] L12
set_io io_leds[5] L14
set_io io_leds[6] M12
set_io io_leds[7] N14
set_io usb_rx P14
set_io usb_tx M9


set_io io_ioBoard_leds[0] G14
set_io io_ioBoard_leds[1] F14
set_io io_ioBoard_leds[2] E12
set_io io_ioBoard_leds[3] E14
set_io io_ioBoard_leds[4] D14
set_io io_ioBoard_leds[5] C14
set_io io_ioBoard_leds[6] B14
set_io io_ioBoard_leds[7] A12
set_io io_ioBoard_leds[8] C10
set_io io_ioBoard_leds[9] C9
set_io io_ioBoard_leds[10] A11
set_io io_ioBoard_leds[11] A10
set_io io_ioBoard_leds[12] A7
set_io io_ioBoard_leds[13] A6
set_io io_ioBoard_leds[14] A4
set_io io_ioBoard_leds[15] A3
set_io io_ioBoard_leds[16] A2
set_io io_ioBoard_leds[17] A1
set_io io_ioBoard_leds[18] C3
set_io io_ioBoard_leds[19] D3
set_io io_ioBoard_leds[20] B1
set_io io_ioBoard_leds[21] C1
set_io io_ioBoard_leds[22] D1
set_io io_ioBoard_leds[23] E1
set_io io_ioBoard_dipSwitches[0] G12
set_io io_ioBoard_dipSwitches[1] F12
set_io io_ioBoard_dipSwitches[2] F11
set_io io_ioBoard_dipSwitches[3] E11
set_io io_ioBoard_dipSwitches[4] D12
set_io io_ioBoard_dipSwitches[5] D11
set_io io_ioBoard_dipSwitches[6] C12
set_io io_ioBoard_dipSwitches[7] C11
set_io io_ioBoard_dipSwitches[8] D10
set_io io_ioBoard_dipSwitches[9] D9
set_io io_ioBoard_dipSwitches[10] D7
set_io io_ioBoard_dipSwitches[11] D6
set_io io_ioBoard_dipSwitches[12] C7
set_io io_ioBoard_dipSwitches[13] C6
set_io io_ioBoard_dipSwitches[14] A5
set_io io_ioBoard_dipSwitches[15] C5
set_io io_ioBoard_dipSwitches[16] D5
set_io io_ioBoard_dipSwitches[17] C4
set_io io_ioBoard_dipSwitches[18] D4
set_io io_ioBoard_dipSwitches[19] E4
set_io io_ioBoard_dipSwitches[20] F4
set_io io_ioBoard_dipSwitches[21] F3
set_io io_ioBoard_dipSwitches[22] H4
set_io io_ioBoard_dipSwitches[23] G4
set_io io_ioBoard_buttons[0] G11
set_io io_ioBoard_buttons[1] H11
set_io io_ioBoard_buttons[2] H12
set_io io_ioBoard_buttons[3] J12
set_io io_ioBoard_buttons[4] P2
set_io io_ioBoard_displaySelector[0] G3
set_io io_ioBoard_displaySelector[1] G1
set_io io_ioBoard_displaySelector[2] H1
set_io io_ioBoard_displaySelector[3] H3
set_io io_ioBoard_display[0] J1
set_io io_ioBoard_display[1] J3
set_io io_ioBoard_display[2] N1
set_io io_ioBoard_display[3] K4
set_io io_ioBoard_display[4] K3
set_io io_ioBoard_display[5] L1
set_io io_ioBoard_display[6] M1
set_io io_ioBoard_display[7] P1
